@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face{
	font-family: NexaBold;
	src: url("NexaBold.otf");
}

@font-face{
	font-family: RobotoMedium;
	src: url("RobotoMedium.ttf");
}

@font-face{
	font-family: RobotoLight;
	src: url("RobotoLight.ttf");
}

@font-face{
	font-family: typwrng;
	src: url("typwrng.ttf");
}
html, body {
	height: 100%;
	margin: 0;
	font-family: RobotoMedium;
	background-color: #fafafa;
	overflow: hidden !important;
}

h2 {
	font-family: RobotoMedium;
	font-weight: normal;
}

#app{
	width: 100%;
	background-color: white;
	padding: none;
	padding-bottom: none;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e6e6e6;
	height: 100%;
}

.basic-card {
	display: flex;
	min-width: 840px;
	min-height: 426px;
	flex-direction: column;
	align-items: flex-start;
	font-family: RobotoMedium;
	background-color: white;
	margin: 0 auto;
	margin-top: 8%;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1.5%;
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 75%;
	overflow: auto;
	overflow-x: hidden;
	z-index: 1;
}

@media screen and (max-width: 769px) {
    .basic-card {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		min-width: 200px;
		min-height: 100%;
		align-items: flex-start;
		font-family: RobotoMedium;
		background-color: white;
		margin: 0 auto;
		border-radius: 0px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		overflow: auto;
		height: 100%;
	}
	
	.payment {
		flex-direction: column;
	}
	
	.qr {
		display: none;
	}
}


.logo {
	display: flex;
	font-family: RobotoMedium;
	font-size: 13px;
	color: white;
	background-color: #3b5998;
	padding-top: 6%;
	width: 100%;
}

.logo h1 {
	padding-left: 30px;
	padding-bottom: 20px;
}

.instruction {
	color: #3f3f3f;
	font-family: RobotoMedium;
	padding: 16px;
	margin: 0px;
	font-size: 18px;
	border-radius: 15px 15px 0px 0px;
	width: calc(100% + 1px);
	border-bottom: 1px solid #e3e3e3;
}

.map {
	max-width:810px
}

.captcha {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	padding-top: 7%;
	padding-bottom: 40px;
	width: 100%;
	height: 80%;
}

.submit-btn {
	background-color: #1976d2;
	color: white;
	border: none;
	font-size: 17px;
	font-family: RobotoMedium;
	margin-left: 6px;
	border-radius: 5px;
}

.submit-btn.disabled {
	background-color :#d7d9dd;
	pointer-events: none;
}

.submit-btn:hover {
	cursor: pointer;
	border: none;
}

.height-form {
	margin-top: 32px;
}

input:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

button:active {
	border: none;
	outline: none;
}

.submit-btn:active {
	outline: none;
	border: none;
}

.text-checkbox {
	padding: 10px 10px 10px 40px;
	display: flex;
	flex-direction: row;
}

.main.basic-card .enterUsername{
	align-items: flex-start;
	padding: 0px 20px 30px 20px;
}

.enterUsername {
	align-self: center;
	margin: 10px;
}

.enterUsername p {
	font-size: 18px;
}

.enterUsername .submit-btn {
	width: 140px;
	font-size: 15px;
	height: 44px;
}

.enterUsername img {
	padding: 15px;
	margin-left: -30px;
}

.enterUsername-input {
	z-index: 1;
	width: 50%;
	font-size: 15px;
	padding: 10px;
	padding-left: 15px;
	border: solid 1px #e3e3e3;
	border-radius: 5px;
	background-color: #f6f6f6;
}

.enterUsername-input-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px;
}

i {
	filter: invert(0.7);
}

.full {
	width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background-color: transparent;
}

.submit-btn.start {
	margin-bottom: 20px;
	width: 150px;
}

.start-button-container {
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
	width: 100%;
	align-items: flex-end;
}

.ok-btn {
	background-color: #1976d2;
	color: white;
	border: none;
	width: 100px;
	height: 52px;
	font-size: 17px;
	font-family: RobotoMedium;
	border-radius: 5px;
	margin: 20px;
	margin-top: 0px;
}

.payment {
	display: flex;
}

.bitcoin {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 28px;
	background-color: #d9dce6;
	text-align: center;
}

.amountLabel {
	font-family: RobotoMedium;
	padding: 16px;
	padding-bottom: 0px;
	font-size:x-large;
}

.aproxInUsd {
	color: #3f3f3f;
	font-family: RobotoMedium;
	font-size:smaller;
}

.address {
	display: flex;
	width: auto;
	height: 35px;
	align-self: center;
	background-color: white;
	margin-top: 32px;
}

.string {
	padding: 10px;
	align-self: center;
}

.copy-btn {
	background-color: white;
	border-left: solid 1px #d9dce6;
}

.copy-btn:active {
	border-left: solid 1px #d9dce6;
	background-color: #eff0f7;
}

.timer {
	align-self: center;
    margin-top: 30px;
    width: 72%;
}

.countdown {
	margin-top:12px;
	font-size: smaller;
	color: #3f3f3f;
}

.summary {
	position: absolute;
	display: flex;
	gap: 15px;
    align-self: flex-end;
	font-size: small;
	font-weight: normal;
	color: #e6e6e6;
}

.bgIcon {
	position: absolute !important;
	font-size: 500px !important;
    margin-left: 0px !important;
    filter: opacity(0.05) !important;
    left: 0 !important;
    bottom: -50px !important;
	z-index: 0 !important;
}

.loading {
	min-height: 330px;
	display: flex;
	flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
	text-align: center;
}